h1.pokedex-heading {
  text-align: center;
}

ul.pokedex-list {
  list-style-type: none;
}

ul.pokedex-list > li {
  text-indent: -5px;
}

ul.pokedex-list > li:before {
  content: "-";
  padding-right: 5px;
}
